In [1]:
#calculate gross pay
hours_worked=input("Enter hours worked: ")
hourly_rate=input("Enter hourly rate: ")
gross_pay=float(hours_worked)*float(hourly_rate)
print(gross_pay)

Enter hours worked: 35
Enter hourly rate: 2.75
96.25

In [2]:
#temperature conversion
celsius=input("Enter temperature in Celsius: ")
fahrenheit=(float(celsius)*9/5)+32
print(fahrenheit)

Enter temperature in Celsius: 37
98.6

In [4]:
#Number sign check
number=float(input("Enter a number: "))
if number>0:
    print("Positive")
elif number<0:
    print("Negative")
else:
    print("Zero")

Enter a number: -2
Negative

In [7]:
#leap year checker
year=int(input("Enter a year: "))
if year%4==0:
    print("Leap year")
else:
    print("Not a leap year")

Enter a year: 2024
Leap year

In [8]:
#basic arthematic operations
number1= float(input("Enter first number: "))
number2= float(input("Enter second number: "))
print("Addition: ",number1+number2)
print("Subtraction: ",number1-number2)
print("Multiplication: ",number1*number2)
print("Division: ",number1/number2)

Enter first number: 22
Enter second number: 25
Addition:  47.0
Subtraction:  -3.0
Multiplication:  550.0
Division:  0.88

In [16]:
#calculate factorial
number=int(input("Enter a number: "))
factorial=1
while number>0:
    factorial=factorial*number
    number=number-1
print(factorial)

Enter a number: 5
120

In [15]:
#reverse a string
string=input("Enter a string: ")
reverse=string[::-1]
print(reverse)

Enter a string: Rameez
zeemaR

In [14]:
#multiply two numbers
number1=float(input("Enter first number: "))
number2=float(input("Enter second number: "))

mul=number1*number2
print(mul)

Enter first number: 5
Enter second number: 5
25.0

In [17]:
#square of a number
number=float(input("Enter a number: "))
square=number**2
print(square)

Enter a number: 5
25.0

In [19]:
#divide two numbers
number1=float(input("Enter first number: "))
number2=float(input("Enter second number: "))
if number2==0:
    print("Cannot divide by zero")
else:
  div=number1/number2
  print(div)

Enter first number: 25
Enter second number: 2
12.5