In [2]:
# 1. Tuple Basics
people = ('Rameez', 'Ali', 'Usman')
print(people[1])

Ali

In [3]:
# 2. Tuple and Max Function
def max_in_tuple(tup):
    return max(tup)

numbers = (4, 7, 1)
print(max_in_tuple(numbers))

7

In [4]:
# 3. Immutable Property
try:
    fruits = ('apple', 'banana', 'cherry')
    fruits[1] = 'orange'
except TypeError as e:
    print(f"Error: {e}")

Error: 'tuple' object does not support item assignment

In [6]:
# 4. Tuple Operations
my_list = [1, 2, 3]
my_tuple = (1, 2, 3)
my_list.append(4)

try:
    my_tuple.append(4)
except AttributeError as e:
    print(f"Error: {e}")

print("List after append:", my_list)
print("Tuple remains unchanged:", my_tuple)

Error: 'tuple' object has no attribute 'append'
List after append: [1, 2, 3, 4]
Tuple remains unchanged: (1, 2, 3)

In [7]:
# 5. Tuple Assignment
def swap_values(a, b):
    a, b = b, a
    return a, b

a = 5
b = 10
a, b = swap_values(a, b)
print(f"a = {a}, b = {b}")

a = 10, b = 5

In [8]:
# 6. Dictionary and Tuples
def dict_to_tuples(dictionary):
    return list(dictionary.items())

sample_dict = {'x': 1, 'y': 2, 'z': 3}
print(dict_to_tuples(sample_dict))

[('x', 1), ('y', 2), ('z', 3)]

In [9]:
# 7. Sorting Tuples
def sort_dict_by_values(dictionary):
    return sorted(dictionary.items(), key=lambda item: item[1], reverse=True)

sample_dict = {'a': 10, 'b': 1, 'c': 22}
print(sort_dict_by_values(sample_dict))

[('c', 22), ('a', 10), ('b', 1)]

In [10]:
# 8. Tuple Comparison
def compare_tuples(tup1, tup2):
    return [a == b for a, b in zip(tup1, tup2)]

tup1 = (1, 2, 3)
tup2 = (3, 2, 1)
print(compare_tuples(tup1, tup2))

[False, True, False]

In [11]:
# 9. Top N Frequent Words
def top_n_frequent_words(file_name, n):
    with open(file_name, 'r') as file:
        text = file.read()
    words = text.split()
    word_count = {}
    for word in words:
        word_count[word] = word_count.get(word, 0) + 1
    sorted_words = sorted(word_count.items(), key=lambda item: item[1], reverse=True)
    return sorted_words[:n]

top_n_frequent_words('romeo.txt', 3)

[('nclkanckjhlkcn', 1), ('jnjnk', 1), ('kn', 1)]

In [12]:
# 10. List Comprehension with Tuples
def sorted_reversed_tuples(dictionary):
    return sorted([(v, k) for k, v in dictionary.items()])

sample_dict = {'a': 10, 'b': 1, 'c': 22}
print(sorted_reversed_tuples(sample_dict))

[(1, 'b'), (10, 'a'), (22, 'c')]