In [2]:
# 1.Convert String to int
def convert_to_int(string):
    try:
        return int(string)
    except ValueError:
        return None
convert_to_int("123")

123

In [3]:
# 2.Integer to String
def convert_to_string(integer):
    try:
      return str(integer)
    except ValueError:
      return None
convert_to_string(123)

'123'

In [4]:
# 3. Float to int
def convert_to_int(float_number):
    try:
      return int(float_number)
    except ValueError:
      return None
convert_to_int(123.45)

123

In [5]:
# 4. Convert List of Strings to List of Integers
def convert_to_int_list(str_list):
  int_list = []
  for s in str_list:
    try:
      int_list.append(int(s))
    except ValueError:
      pass
  return int_list
convert_to_int_list(["1", "2", "3", "4", "5"])

[1, 2, 3, 4, 5]

In [7]:
# 5. Addition of two numbers
def sum(a,b):
  return a+b
sum(1,2)

3

In [8]:
# 6. Substraction of two numbers
def sub(a,b):
  return a-b
sub(1,2)

-1

In [9]:
# 7. Multiplication of two numbers
def mul(a,b):
  return a*b
mul(1,2)

2

In [11]:
# 8. Division of two numbers
def div(a,b):
  if b == 0:
    return None
  else:
    return a/b
div(1,2)

0.5

In [21]:
# 9. Concat two strings
def concat(a,b):
  try:
    return a+b
  except TypeError:
    return None
concat("Rameez","Anwar")

'RameezAnwar'

In [23]:
# 10. Reverse a string
def r(a):
  reverse=a[::-1]
  return reverse
r("rameez")

'zeemar'