In [1]:
# 1. Creating list
fruits =['apple','banana','cheery']
print(fruits)

['apple', 'banana', 'cheery']

In [3]:
# 2. Accessing list elements
numbers = [10, 20, 30, 40, 50]
print(numbers[1], numbers[3])

20 40

In [5]:
# 3.list slicing
colors = ['red', 'green', 'blue', 'yellow', 'purple']
print(colors[:3])

['red', 'green', 'blue']

In [10]:
# 4. Modifying list
animals = ['cat', 'dog', 'rabbit']
animals[2]='hamster'
print(animals)

['cat', 'dog', 'hamster']

In [12]:
# 5. Appending to list
zoo = ['lion', 'tiger', 'bear']
zoo.append('elephant')
print(zoo)

['lion', 'tiger', 'bear', 'elephant']

In [14]:
# 6 . Inserting to list
fruits = ['apple', 'banana', 'cherry']
fruits.insert(1,'grapes')
print(fruits)

['apple', 'grapes', 'banana', 'cherry']

In [15]:
# 7. Removing from list
fruits = ['apple', 'banana', 'cherry']
fruits.remove('banana')
print(fruits)

['apple', 'cherry']

In [18]:
# 8. List Length
languages = ['Python', 'Java', 'C++', 'JavaScript']
length= len(languages)
print(length)

4

In [19]:
# 9. List Concat
list1 = [1, 2, 3]
list2 = [4, 5, 6]
concat=list1+list2
print(concat)

[1, 2, 3, 4, 5, 6]

In [27]:
# 10. List Comprehension
numbers = [1, 2, 3, 4, 5]
new =[ number * number for number in numbers]
print(new)

[1, 4, 9, 16, 25]